Package: ubuntu-install
Version: 1.1.7
Maintainer: Robert Key <robkey@mighty.co.za>
Priority: optional
Origon: Ubuntu
Section: myown
Conflicts: my-work-linux,
	my-linux-testing
Recommends: build-essential,
	ubuntu-mate-desktop,
	coreutils,
	curl,
	htop,
	mesa-utils,
	net-tools,
	iputils-ping,
	gnome-tweaks,
	gnome-software,
	gnome-logs,
	gnome-disk-utility,
	ubuntu-minimal,
	perlprimer-doc,
	perl-doc-html,
	perl-doc,
	perl-tk,
	libdevel-ptkdb-perl,
	dpkg-dev,
	man2html,
	ibritish,
	ispell,
	linux-headers-generic,
	dropbox,
	kdiff3,
	kompare,
	default-jdk,
	default-jdk-doc,
	psensor
Architecture: amd64
Description: This package installs all files for ubuntu desktop.
