Package: ubuntu-install
Version: 1.1.5
Maintainer: Robert Key <robkey@mighty.co.za>
Priority: optional
Origon: Ubuntu
Section: myown
Conflicts: my-work-linux,
	my-linux-testing
Recommends: build-essential,
	ubuntu-mate-desktop,
	coreutils,
	wget,
	sudo,
	curl,
	nano,
	htop,
	xorg,
	lightdm,
	mesa-utils,
	net-tools,
	iputils-ping,
	openssh-server,
	gnome-tweaks,
	gnome-software,
	gnome-logs,
	gnome-disk-utility,
	ubuntu-minimal,
	perlprimer-doc,
	perl-doc-html,
	perl-doc,
	perl-tk,
	libdevel-ptkdb-perl,
	findutils,
	dpkg-dev,
	debmirror,
	rsync,
	ssh,
	synaptic,
	openoffice.org-calc,
	man2html,
	ibritish,
	ispell,
	linux-headers-generic,
	okular,
	dropbox,
	kdesdk-dolphin-plugins,
	konsole,
	kdiff3,
	kompare,
	default-jdk,
	default-jdk-doc,
	psensor
Architecture: amd64
Description: This package installs all files for ubuntu desktop.
